<div>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <% if @task.new_record?() == false %>
      <%= f.input :completed, as: :boolean, checked_value: true, unchecked_value: false %>
    <% end %>
    <%= f.submit :class=> "btn btn-success" %>
  <% end %>
</div>

<div class="back-link">
  <%= link_to tasks_path, class: "btn btn-link" do %>
    <i class="fas fa-history"></i> Back to list
  <% end %>
</div>
