<h1><%= @task.title.capitalize %></h1>

<p><%= @task.details %></p>

<div>
  <% if @task.completed %>
    <p><input type="checkbox" checked> This task is completed</p>
  <% else %>
    <p><input type="checkbox"> This task is not completed yet</p>
  <% end %>
</div>

<div class="buttons">
  <div class="edit-delete-buttons">
    <%= link_to edit_task_path, class: "btn btn-warning" do %>
      <i class="far fa-edit"></i> Edit
    <% end %>

    <%= link_to task_path(@task),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-danger" do %>
      <i class="far fa-trash-alt"></i> Delete
    <% end %>
  </div>
  
  <hr width="98%">

  <%= link_to tasks_path, class: "btn btn-link" do %>
    <i class="fas fa-history"></i> Back to list
  <% end %>
</div>
